<footer id="my-contact" class="container cf"> 
    <div class="footer">
        <div class="payment-medium">
            <h3 class="footer-title">Medios de pago</h3>
            <ul class="payment-list">
                <li class="payment-item"><img class="payment-icon" src="/images/visa@2x.png" alt="Visa"></li>
                <li class="payment-item"><img class="payment-icon" src="/images/mastercard@2x.png" alt="Mastercard"></li>
                <li class="payment-item"><img class="payment-icon" src="/images/mercadopago.png" alt="Mercado Pago"></li>
                <li class="payment-item"><img class="payment-icon" src="/images/pagofacil.png" alt="Pago facil"></li>
                <li class="payment-item"><img class="payment-icon" src="/images/rapipago.png" alt="Rapipago"></li>
            </ul>
        </div>
        <div class="contact-media">
            <h3 class="footer-title">Contacto</h3>
            <ul class="contact-list">
                <li class="contact-item"><img src="/images/location_black.png" alt="Ubicacion" class="img-contact"><a href="https://www.google.com.ar/maps/@-34.120296,-63.3821153,15z" class="contact-item-link">Ubicación</a></li>
                <li class="contact-item"><img src="/images/gmail.png" alt="Gmail" class="img-contact"><a href="https://mail.google.com/" class="contact-item-link">Gmail</a></li>
                <li class="contact-item"><img src="/images/whatsapp.png" alt="Whatsapp" class="img-contact"><a href="https://web.whatsapp.com/" class="contact-item-link">Whatsapp</a></li>
            </ul>
        </div>
        <div class="social-media">
            <h3 class="footer-title">Redes sociales</h3>
            <ul class="social-list">
                <li class="social-item"><a href="https://www.instagram.com/?hl=es-la" class="social-item-link"><img class="img-social" src="/images/instagram_black.png" alt="Seguinos en Instagram"></a></li>
                <li class="social-item"><a href="https://es-la.facebook.com/" class="social-item-link"><img class="img-social" src="/images/facebook_black.png" alt="Seguinos en Facebook"></a></li>
                <li class="social-item"><a href="https://twitter.com/?lang=es" class="social-item-link"><img class="img-social" src="/images/twitter_black.png" alt="Seguinos en Twitter"></a></li>
            </ul>
        </div>
        <div class="news">
            <h3 class="footer-title">Suscribirse</h3>
            <form action="form.js" class="form-news">
                <input type="email" class="form-news-input" placeholder="Correo Electronico ">
                <button class="form-news-btn" type="submit">Suscribe</button>
            </form>
        </div>
    </div>
        <!--         
        
    --> 
</footer>   <!-- Cierra el footer -->