<button class="btn-menu" type="submit" id="menubtn">
    <span class="burger-menu"></span>
</button>
<nav class="navbar" id="nav">
    <ul class="list">
        <li class="list-item"><a href="../" class="list-item-link">Inicio</a></li>
        <li class="list-item"><a href="/products" class="list-item-link">Productos</a></li>
        <li class="list-item"><a href="../" class="list-item-link title-logo">The Wines Club &#127863;</a></li>
        <li class="list-item"><a href="/about_me" class="list-item-link">Sobre nosotros</a></li>
        <li class="list-item"><a href="#my-contact" class="list-item-link">Contacto</a></li>
        <% if(logueado) { %>
            <li class="list-item"><a href="/products/list" class="list-item-link">Admin</a></li>
            <li class="list-item"><a href="/logout" class="list-item-link">Logout</a></li>
        <% }else {%>
            <li class="list-item"><a href="/login" class="list-item-link">Ingresar</a></li>
        <% } %>
    </ul>
</nav><!-- Cierra el nav -->