<button class="btn-menu" type="submit" id="menubtn">
    <span class="burger-menu"></span>
</button>
<nav class="navbar" id="nav">
    <ul class="list">
        <li class="list-item"><a href="../" class="list-item-link">Inicio</a></li>
        <li class="list-item"><a href="/products" class="list-item-link">Productos</a></li>
        <li class="list-item"><a href="../" class="list-item-link">Logo</a></li>
        <li class="list-item"><a href="/about_me" class="list-item-link">Sobre nosotros</a></li>
        <li class="list-item"><a href="#my-contact" class="list-item-link">Contacto</a></li>
    </ul>
</nav><!-- Cierra el nav -->