<div class="container">
    <div class="info">
        <div class="shipping">
            <div class="icon">
                <img src="/images/free_delivery.png" alt="Envio gratis">
            </div>
            <div class="title-info">
                <p class="text-info">Envio gratis</p>
            </div>
        </div>
        <div class="shop">
            <div class="icon">
                <img src="/images/shop.png" alt="Mira la tienda">
            </div>
            <div class="title-info">
                <p class="text-info">Mira nuestros productos</p>
            </div>
        </div>
        <div class="buysafe">
            <div class="icon">
                <img src="/images/buysafe.png" alt="Compra seguro">
            </div>
            <div class="title-info">
                <p class="text-info">Compra segura</p>
            </div>
        </div>
    </div>
</div><!-- Cierra el info -->